body {
  overflow-x: hidden;
}

.home-header-sticky-container {
  @apply sticky top-0 h-screen;
  backface-visibility: hidden;
}

.home-header_introducing-glaredb-component {
  @apply absolute top-0 left-0 right-0 bottom-0 flex justify-center items-center flex-col opacity-0 text-center bg-gradient-to-b from-accent-content  via-neutral-focus to-accent z-[50];
}
.home-header-desktop_sky-gradient {
  @apply absolute inset-0 z-[1] block overflow-hidden bg-gradient-to-b from-neutral-focus via-accent-focus to-warning/40;
}

.home-header-desktop_close-planets {
  @apply absolute inset-0 block overflow-hidden z-[10];
  background-image: url(https://imagedelivery.net/C1c8i0JtRURCOUA0iRLBpQ/06582a2d-ca78-413c-3d42-9fe947a63900/public?format=webp);
  background-position: 50% 0%;
}

@media screen(lg) {
  .home-header-desktop_close-planets {
    background-image: url(https://imagedelivery.net/C1c8i0JtRURCOUA0iRLBpQ/06582a2d-ca78-413c-3d42-9fe947a63900/2xl?format=webp);
  }
}

.home-header-desktop_sun-glow {
  @apply absolute inset-0 z-[3] bg-cover bg-no-repeat bg-scroll opacity-100;
  background-image: url("/page/6.svg");
  background-position: 50% 100%;
}

.home-header-desktop_sun-glow.absolute-center {
  @apply z-[5] overflow-hidden max-w-[112.5rem] mx-auto;
  background-image: url("/page/2.svg");
}

.home-header-desktop_server-buildings {
  @apply absolute inset-0 z-[9] overflow-hidden block bg-cover bg-no-repeat;
  background-image: url("/page/3.svg");
  background-position: 50% 100%;
}
.home-header-desktop_close-buildings {
  @apply absolute inset-0 z-[7] overflow-hidden bg-cover bg-no-repeat;
  background-image: url(https://imagedelivery.net/C1c8i0JtRURCOUA0iRLBpQ/0cdf0fa4-7969-4006-e42a-7828acb52700/public?format=webp);
  background-position: 50% 100%;
}
@media screen(lg) {
  .home-header-desktop_close-buildings {
    background-image: url(https://imagedelivery.net/C1c8i0JtRURCOUA0iRLBpQ/0cdf0fa4-7969-4006-e42a-7828acb52700/2xl?format=webp);
  }
}

.home-header-desktop_far-buildings {
  @apply absolute inset-0 z-[6] overflow-hidden bg-cover bg-no-repeat;
  background-image: url(https://imagedelivery.net/C1c8i0JtRURCOUA0iRLBpQ/06f0dd91-e92f-4bde-47dc-a2757bb7c000/public?format=webp);
  background-position: 50% 100%;
}
@media screen(lg) {
  .home-header-desktop_far-buildings {
    background-image: url(https://imagedelivery.net/C1c8i0JtRURCOUA0iRLBpQ/06f0dd91-e92f-4bde-47dc-a2757bb7c000/2xl?format=webp);
  }
}

.home-header-desktop_stars {
  @apply absolute inset-0 overflow-hidden bg-cover bg-no-repeat bg-fixed opacity-50 z-[7];
  background-image: url(https://imagedelivery.net/C1c8i0JtRURCOUA0iRLBpQ/bf7bf383-92cb-4ea3-fe7b-be1a95f33600/public?format=webp);
  background-position: 50% 0;
}
@media screen(lg) {
  .home-header-desktop_stars {
    background-image: url(https://imagedelivery.net/C1c8i0JtRURCOUA0iRLBpQ/bf7bf383-92cb-4ea3-fe7b-be1a95f33600/2xl?format=webp);
  }
}

.home-header-desktop_far-planets {
  @apply absolute inset-0 overflow-hidden z-[3] bg-cover bg-no-repeat bg-fixed;
  background-image: url(https://imagedelivery.net/C1c8i0JtRURCOUA0iRLBpQ/a5f955e1-9984-4730-0532-956df3737300/public?format=webp);
  background-position: 50% 0;
}
@media screen(lg) {
  .home-header-desktop_far-planets {
    background-image: url(https://imagedelivery.net/C1c8i0JtRURCOUA0iRLBpQ/a5f955e1-9984-4730-0532-956df3737300/2xl?format=webp);
  }
}

.home-header_text-wrapper {
  @apply absolute inset-0 bottom-auto z-[49] flex h-[40vh] flex-col justify-center items-center text-center;
}
