.home-header-sticky-container {
  @apply sticky top-0 overflow-hidden h-screen;
  backface-visibility: hidden;
}

.home-header_introducing-glaredb-component {
  @apply absolute top-0 left-0 right-0 bottom-0 flex justify-center items-center flex-col opacity-0 text-center bg-gradient-to-b from-accent-content  via-neutral-focus to-accent z-[50];
}
.home-header-desktop_sky-gradient {
  @apply absolute inset-0 z-[1] block overflow-hidden bg-gradient-to-b from-neutral-focus via-accent-focus to-warning/40;
}

.home-header-desktop_close-planets {
  @apply absolute inset-0 block overflow-hidden z-[10];
  background-image: url("/page/1.png");
  background-position: 50% 0%;
}

.home-header-desktop_sun-glow {
  @apply absolute inset-0 z-[3] bg-cover bg-no-repeat bg-scroll opacity-100;
  background-image: url("/page/6.svg");
  background-position: 50% 100%;
}

.home-header-desktop_sun-glow.absolute-center {
  @apply z-[5] overflow-hidden max-w-[112.5rem] mx-auto;
  background-image: url("/page/2.svg");
}

.home-header-desktop_server-buildings {
  @apply absolute inset-0 z-[9] overflow-hidden block bg-cover bg-no-repeat;
  background-image: url("/page/3.svg");
  background-position: 50% 100%;
}
.home-header-desktop_close-buildings {
  @apply absolute inset-0 z-[7] overflow-hidden bg-cover bg-no-repeat;
  background-image: url("/page/4.png");
  background-position: 50% 100%;
}
.home-header-desktop_far-buildings {
  @apply absolute inset-0 z-[6] overflow-hidden bg-cover bg-no-repeat;
  background-image: url("/page/5.png");
  background-position: 50% 100%;
}

.home-header-desktop_stars {
  @apply absolute inset-0 overflow-hidden bg-cover bg-no-repeat bg-fixed opacity-50 z-[7];
  background-image: url("/page/7.png");
  background-position: 50% 0;
}
.home-header-desktop_far-planets {
  @apply absolute inset-0 overflow-hidden z-[3] bg-cover bg-no-repeat bg-fixed;
  background-image: url("/page/8.png");
  background-position: 50% 0;
}
.home-header_text-wrapper {
  @apply absolute inset-0 bottom-auto z-[49] flex h-[40vh] flex-col justify-center items-center text-center;
}
